<!DOCTYPE html>
<html>
  <head>
    <%-include('../partials/header'); %>
  </head>
  <body>
    <div class="container">
      <%- include('../partials/navbarAdmin'); %>
      <h3>Top 10 Ingredientes mais usados</h3>
      <br />
      <a href="/admin/novoIngrediente" class="btn btn-primary">Novo ingrediente</a>
      <br /><br />
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Receitas</th>
          </tr>
        </thead>
        <tbody>
          <% ingredientes.forEach(ingrediente => { %>
          <tr>
            <td><%=ingrediente.id%></td>
            <td><%=ingrediente.nome%></td>
            <td><%=ingrediente.qtd_receitas%></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <%- include('../partials/footer'); %>
  </body>
</html>
