<!DOCTYPE html>
<html>
  <head>
    <%-include('../partials/header'); %>
  </head>
  </head>
  <body>
    <div class="container">
      <%-include('../partials/navbar'); %>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Receitas</h3>
          <div class="list-group">
            <% receitas.forEach( receita => { %>
            <a href="/receita/<%=receita.id%>" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
              <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
              <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                  <h6 class="mb-0"><%=receita.nome%></h6>
                  <p class="mb-0 opacity-75"><%=receita.descricao%></p>
                </div>
              </div>
            </a>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
    <%-include('../partials/footer'); %>
  </body>
</html>
